header{
    background-color: #2C3E50;
    height: 90px;
    line-height: 90px;
    color: white;
}

#section-start {
    background-color: #1ABC9C;
    color: white;
}

#avatar{
    max-width: 200px;
}

img {
    max-width: 100%;
}

#section-start{
    color: white;
}

.star{
    font-size: xx-large;
}

.radious {
    border-radius: 20px;
}

#about {
    background-color: #1ABC9C;
    color: white;
}

.widht{
    width: 50%;
}

#location{
    background-color: #3A546D;
    color: white;
}

.fit {
    object-fit: contain;
}

.green{
    color: green;
}

footer{
    background-color: #2C3E50;
    color: white;
}

.d-n {
    display: none;
}

.no-xs {
    display: none;
}

.decor {
    text-decoration: none;
    color: white;
}

@media screen and (min-width:768px) {
    #hamb {
        display: none;
    }

    .no-xs {
        display: inline-block;
    }
}
