/* RESET */

img {
    max-width: 100%;
}

header{
    background-color: #2C3E50;
    height: 90px;
    line-height: 90px;
    color: white;
}

#section-start {
    background-color: #1ABC9C;
    color: white;
}

#section-start{
    color: white;
}

#avatar{
    max-width: 200px;
}

.star{
    font-size: xx-large;
}

/* UTILITY */
.radious {
    border-radius: 20px;
}

.widht{
    width: 50%;
}

.ms-inline {
    display: inline-block;
}

.fit {
    object-fit: contain;
}

.green{
    color: green;
}

.d-n {
    display: none;
}

.no-xs {
    display: none;
}

.decor {
    text-decoration: none;
    color: white;
}

.dark {
    color: #333333;
}

.blue {
    color: #2C3E50;
}

.btn {
    background-color: #1ABC9C;
}

.ms-no-brd {
    border: none;
}

/* /UTILITY */

#about {
    background-color: #1ABC9C;
    color: white;
}

#location{
    background-color: #3A546D;
    color: white;
}

footer{
    background-color: #2C3E50;
    color: white;
}

.form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.form-control:focus {
    box-shadow: none;
}

/* MEDIA QUERY */
@media screen and (min-width:768px) {
    #hamb {
        display: none;
    }

    .no-xs {
        display: inline-block;
    }
}
/* /MEDIA QUERY */